html, body {
  margin: 0;
  padding: 0;
  font-family:  Arial, sans-serif;
  height: auto;
  overflow-x: hidden; 
}

.title { 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  text-align: center;
  background-color: rgb(27, 26, 26);
  color: rgb(232, 226, 226); 
  font-size: 19px;
  min-height: 290px; 
  width: 100%;
  margin: 0;
}

.content-container { 
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  font-size: 19px;
  padding-top: 3%;
  padding-bottom: 3%;
}
  
.trip-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
  align-items: stretch;
  width: 100%;
  height: auto;
  padding-top: 2%;
  padding-bottom: 2%;
}

.expenses-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
  align-items: stretch;
  width: 100%;
  height: auto;
  padding-top: 2%;
  padding-bottom: 2%;
  margin-left: -5px;
}

.expenses-container-a {
display: flex;
flex-direction: column;
padding-left: 10%;
}

.expenses-container-input{
  display: flex;
  flex-direction: column;
}

.title-expenses{
  margin-left: 75px;
}

input {
  background-color: rgb(226, 222, 222);
  padding: 12px;
  margin: 5px;
  margin-top: 7px;
  color: rgb(39, 38, 38);
  border-style: none;
  border-radius: 4px;
}

button {
  background-color: rgb(33, 33, 33);
  margin: 1%;
  color: rgb(235, 227, 227);
  padding: 12px 35px;
  font-size: 16px;
  border-radius: 4px;
  border-style: none;
  transition: transform 0.3s ease;
}

button:hover {
  background-color: rgb(59, 59, 59);
  transform: scale(1.1);
  cursor: pointer;
}

ul {
  list-style: none;  /* Elimina los puntos por defecto */
  padding-left: 0;    /* Elimina el margen izquierdo */
}

li {
  margin-bottom: 15px;  /* Espacio entre cada li */
  position: relative;   /* Para poder agregar un elemento pseudo */
}

li::before {
  content: '★';         /* Cambia el punto por otro símbolo (puedes usar cualquier símbolo) */
  position: absolute;
  left: -25px;          /* Mueve el símbolo a la izquierda */
  top: -4px;
  color: #da2505;       /* Puedes cambiar el color del símbolo */
  font-size: 20px;      /* Ajusta el tamaño del símbolo */
}